.card-list-container {
  align-items: center;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  width: 150px;
}

.card-list-container p {
  text-align: center;
}

.card-list-container img {
  width: 100px;
}
