* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

.search-box input {
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 5px 20px;
}

.intro-message {
  font-size: 1.1rem;
  margin: 10px 0 20px;
  text-align: center;
}

.nav-categories {
  height: auto;
  padding: 10px;
}

.nav-categories div {
  display: block;
  height: auto;
  padding: 5px 10px;
  transition: 0.5;
  width: 250px;
}

.nav-categories div:hover {
  background-color: #071c46;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.categories-cards {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}
