* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}

.search-box input {
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 5px 20px;
}

.intro-message {
  font-size: 1.1rem;
  margin: 10px 0 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
